
@{
    ViewBag.Title = "LogIn";
}

<h2>Iniciar sesion</h2>

@using (Html.BeginForm())
{
    <h2>Iniciar Sesión</h2>
    <div>
        <label>Email:</label>
        @Html.TextBox("email", null, new { @class = "form-control", placeholder = "Ingrese su email" })
    </div>
    <div>
        <label>Contraseña:</label>
        @Html.Password("contrasena", null, new { @class = "form-control", placeholder = "Ingrese su contraseña" })
    </div>
    <button type="submit" class="btn btn-primary">Ingresar</button>

    
}


